<footer>
    <div class="logo-footer">
        <img src="/img/logo_teapothouse.png" alt="logo de la marca" />
    </div>
    <div class="contenedor-footer">
        <div class="creditos">
            <h3>&copy copyright @2022 Proyecto DigitalHouse.</h3>
            <h3>Teapot House</h3>
        </div>
        <div class="caja-contacto">
            <div class="cajita-contacto">
                <div class="cajita">
                    <h4>Contacto</h4>
                </div>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
</footer>
